@model List<Perguntas>
@{
    ViewBag.Title = "Legislação";
    ViewBag.Page = "Quiz";
    Layout = "../Shared/_LayoutLogin.cshtml";
}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <input class="btn btn-success" type="button" value="Iniciar" id="btnIniciar" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h1>Prova de Legislação</h1>
        <p>Uma pequena prova para treinar seus conhecimentos</p>
    </div>

    <h2>Instruções:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis voluptatibus consequuntur ducimus, reprehenderit ullam aliquam nulla vitae laudantium assumenda tempore dolorem cupiditate numquam veritatis dicta eveniet hic quo rerum id?</p>
    <p>I mean you can put everything on one line if you really want but don't do that.</p>
    @using (Html.BeginForm("Perguntas", "Legislacao", FormMethod.Post))
    {
        int pri, seg, ter, qua, i = 1, j = 1;
        foreach (var pergunta in @Model)
        {
            pri = j;
            seg = j + 1;
            ter = j + 2;
            qua = j + 3;
            <fieldset id="field-@i">
                <div style="background:#fff;border:1px solid lightgray; border-radius:6px;padding:1em;">
                    @*<form action="@Url.Action("Perguntas","Legislacao")" method="post">*@
                    <div class="col-xl-12">
                        <div class="funkyradio">
                            <p>@i ) @pergunta.Corpo</p>
                            <div class="funkyradio-default">
                                @Html.RadioButton("radio" + i, "a", false, new { @id = "radio" + pri })
                                @Html.Label(pergunta.Opcao1, new { @for="radio" + pri })
                                @*<input type="radio" name="radio-@i" id="radio-@pri" value="a" />
                                <label for="radio-@pri">@pergunta.Opcao1</label>*@
                            </div>
                            <div class="funkyradio-default">
                                @Html.RadioButton("radio" + i, "b", false, new { @id = "radio" + seg })
                                @Html.Label(pergunta.Opcao2, new { @for = "radio" + seg })
                                @*<input type="radio" name="radio-@i" id="radio-@seg" value="b" />
                                <label for="radio-@seg">@pergunta.Opcao2</label>*@
                            </div>
                            <div class="funkyradio-default">
                                @Html.RadioButton("radio" + i, "c", false, new { @id = "radio" + ter })
                                @Html.Label(pergunta.Opcao3, new { @for = "radio" + ter })
                                @*<input type="radio" name="radio-@i" id="radio-@ter" value="c" />
                                <label for="radio-@ter">@pergunta.Opcao3</label>*@
                            </div>
                            <div class="funkyradio-default">
                                @Html.RadioButton("radio" + i, "d", false, new { @id = "radio" + qua })
                                @Html.Label(pergunta.Opcao4, new { @for = "radio" + qua })
                                @*<input type="radio" name="radio-@i" id="radio-@qua" value="d" />
                                <label for="radio-@qua">@pergunta.Opcao4</label>*@
                            </div>
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </fieldset>
            i++;
            j += 4;
        }
            <button type="submit" class="btn btn-primary">Finalizar</button>
    }
</div>
