@model sistemaPerguntasWeb.Models.Users
@{
    ViewBag.Title = "Register";
    ViewBag.Page = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">Registrar</div>
	<!-- Main Form -->
    <div class="login-form-1">
        @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @id = "register-form", @class = "text-left" }))
        {
            <!--<form id="register-form" class="text-left">-->
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="reg_username" class="sr-only">Usuário</label>
                        @Html.TextBoxFor(x => x.usuario, "", new { @class = "form-control", @id = "reg_username", @placeholder = "usuário" } )
                        <!--<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="usuário">-->
                    </div>
                    <div class="form-group">
                        <label for="reg_password" class="sr-only">Senha</label>
                        @Html.TextBoxFor(x => x.senha, "", new { @class = "form-control", @id = "reg_password", @placeholder = "senha" })
                        <!--<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="senha">-->
                    </div>
                    <div class="form-group">
                        <label for="reg_password_confirm" class="sr-only">Confirmar Senha</label>
                        @Html.TextBoxFor(x => x.senha, "", new { @class = "form-control", @id = "reg_password_confirm", @placeholder = "confirme a senha" })
                        <!--<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">-->
                    </div>

                    <div class="form-group">
                        <label for="reg_email" class="sr-only">Email</label>
                        @Html.TextBoxFor(x => x.email, "", new { @class = "form-control", @id = "reg_email", @placeholder = "email" })
                        <!--<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email">-->
                    </div>
                    <div class="form-group">
                        <label for="reg_fullname" class="sr-only">Nome Completo</label>
                        @Html.TextBoxFor(x => x.nomeCompleto, "", new { @class = "form-control", @id = "reg_fullname", @placeholder = "Nome completo" })
                        <!--<input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="full name">-->
                    </div>

                    <div class="form-group login-group-checkbox">
                        <input type="radio" class="" name="reg_gender" id="male" placeholder="username">
                        <label for="male">Masculino</label>

                        <input type="radio" class="" name="reg_gender" id="female" placeholder="username">
                        <label for="female">Feminino</label>
                    </div>

                    <div class="form-group login-group-checkbox">
                        <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                        <label for="reg_agree">Concordo com os <a href="#">termos</a> de uso.</label>
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
                <p>Já possui uma conta? <a href="/Auth/Login">Entre aqui</a></p>
            </div>
            <!--</form>-->
        }

    </div>
	<!-- end:Main Form -->
</div>

